/* barra di intestazione */
#logo_curie, #logo_biblio {
    width: 75px;
}

/* titolo */
.inspiration {
    font-family: "Inspiration", serif;
    font-weight: 400;
    font-style: normal;
}

#titolo {    
    text-align: center;
    font-size: 200px;

}

/* barra di ricerca */

#barraRicerca {
    padding: 8px;    
}

label.ricerca_label {
    font-size: 23px;
}

button#btn_cerca{
    width: 80%;
}
